*.pyc
venv/*
.vagrant/*
__pycache__/*
controllers/__pycache__/*
controllers/*.pyc
static/images/*
.DS_Store
static/.DS_Store
sftp-config.json
Vagrantfile
vagrant.sh
requirements.txt
jsmin/*
tutorial_vids/*
