<!-- instructions.html -->
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title>The Freebody Dial</title>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<!-- this needs to come first -->
<!-- inclusion order matters  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
function closeTab() {
    window.top.close();
}
</script>

<script>
function openVideo(){
	function openInNewTab(url) {
      var win = window.open(url, '_blank');
      win.focus();
    }


    openInNewTab("https://www.youtube.com/playlist?list=PLQljZiP9l83GYOPoskGqZAV9A2sDQOhfN");
}

</script>


</head>
<body>

<center><h1>Instructions for Using the Freedbody Dial Application</h1></center>

<br>

<center><button type="button" onclick = "openVideo()" class="btn btn-info btn-lg">In-Depth Tutorial Videos</button>

<button type="button" onclick = "closeTab()" class="btn btn-danger btn-lg">Close Help Menu</button>
</center>

<br>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><center>How to Draw!</center></h3>
  </div>
  <div class="panel-body">
    1) Select the shape you want (line or polygon or ellipse) from the menu.<br>
    2) To draw a line, click and then drag the cursor until desired length is achieved.<br>
    3) To draw a polygon, click and drag line. When new corner desired click again. Return to start point to close.<br>
    4) To draw an ellipse, _________todo - fillin_________<br>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><center>How to Edit!</center></h3>
  </div>
  <div class="panel-body">
    1) Select edit mode from the menu.<br>
    2) To resize, select a yellow corner control point and drag.<br>
    3) To translate, select the blue square and drag and click accordingly to desired location.<br>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><center>How to Save!</center></h3>
  </div>
  <div class="panel-body">
    1) Select group mode from the menu.<br>
    2) Select the objects you desire to group with your cursor. They will show edit points when selected.<br>
    3) Select 'Group Done' when you are done selecting the desired objects.<br>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><center>How to Undo!</center></h3>
  </div>
  <div class="panel-body">
    1) Select save from the menu.<br>
    2) If browser settings are set up so, select location and file name in popup window.<br>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><center>How to Print!</center></h3>
  </div>
  <div class="panel-body">
    1) Select print mode from the menu.<br>
    2) Modify print options in print menu and print.<br>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><center>How to Export!</center></h3>
  </div>
  <div class="panel-body">
    1) Select export mode from the menu.<br>
    2) Select location to export item to.<br>
    3) Do not modify this file in anyway - otherwise import will no longer be possible.<br>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><center>How to Import!</center></h3>
  </div>
  <div class="panel-body">
    1) Select import mode from the menu.<br>
    2) Select saved item from location on computer and click "Open" from menu.<br>
  </div>
</div>



<!-- <center><button type="button" onclick = "closeTab()" class="btn btn-danger btn-lg btn-block">Close Help Menu</button></center>
 -->

</body>
</html>